version: '3'
services:
  lazypodman:
    build:
      context: https://github.com/christophe-duc/lazypodman.git
      args:
        BASE_IMAGE_BUILDER: golang
        GOARCH: amd64
        GOARM:
    image: christophe-duc/lazypodman
    container_name: lazypodman
    stdin_open: true
    tty: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config:/.config/christophe-duc/lazypodman
